swagger: '2.0'
info:
  title: JP Fan App API
  description: >-
    API Documentation for the JP Fan App API.

    Open Source: https://github.com/jp-fan-app/api

    To make requests you need an **x-access-token**. Feel free to send me a message to get an access token.
  version: 1.0.0
  contact:
    name: Christoph Pageler
    url: 'https://github.com/cpageler93'
host: 'api.jp-fan-app.de'
schemes:
  - https
basePath: /api/v1
paths:
  /auth/login:
    post:
      summary: Login
      description: >-
        Login with Username + Password.

        The generated `string` is the authentication token which is needed for
        authenticated routes: Authorization: Bearer <YOUR TOKEN>
      tags:
        - Auth
      consumes:
        - application/json
      parameters:
        - type: string
          default: 'YOUR ACCESS TOKEN'
          name: x-access-token
          required: true
          in: header
        - name: body
          in: body
          required: false
          schema:
            type: object
            required:
              - email
              - password
            properties:
              email:
                type: string
              password:
                type: string
      responses:
        200:
          description: Valid Login Response
          schema:
            type: object
            properties:
              userID:
                type: integer
              id:
                type: integer
              string:
                type: string
              createdAt:
                type: string
        401:
          description: Unauthorized Login Response
          schema:
            $ref: '#/definitions/ErrorModel'
  /auth/changePassword:
    post:
      summary: Change Password (DOCS TODO)
      description: |-
        Change password for authenticated user
        DOESN'T revoke existing tokens
      tags:
        - Auth
      consumes:
        - application/json
      parameters:
        - required: false
          schema:
            type: string
            default: '{"password":"<your new pw>"}'
          in: body
          name: body
      responses:
        default:
          description: no response description was provided for this operation
  /manufacturers:
    get:
      summary: Index
      description: ''
      tags:
        - Manufacturers
      parameters:
        - type: string
          default: 'YOUR ACCESS TOKEN'
          name: x-access-token
          required: true
          in: header
      responses:
        200:
          description: Array of Manufacturers
          schema:
            type: array
            items:
              $ref: '#/definitions/Manufacturer'
    post:
      summary: Create
      description: ''
      tags:
        - Manufacturers
      consumes:
        - application/json
      parameters:
        - type: string
          default: 'YOUR ACCESS TOKEN'
          name: x-access-token
          required: true
          in: header
        - name: body
          in: body
          required: false
          schema:
            type: object
            required:
              - name
            properties:
              name:
                type: string
                description: Name of the new manufacturer
      responses:
        200:
          description: Single Manufacturer
          schema:
            $ref: '#/definitions/Manufacturer'
  /manufacturers/{id}:
    get:
      summary: Get
      description: ''
      tags:
        - Manufacturers
      parameters:
        - type: integer
          name: id
          required: true
          in: path
        - type: string
          default: 'YOUR ACCESS TOKEN'
          name: x-access-token
          required: true
          in: header
      responses:
        200:
          description: Single Manufacturer
          schema:
            $ref: '#/definitions/Manufacturer'
        404:
          description: not found
    patch:
      summary: Patch
      description: ''
      tags:
        - Manufacturers
      consumes:
        - application/json
      parameters:
        - type: integer
          name: id
          required: true
          in: path
        - type: string
          default: 'YOUR ACCESS TOKEN'
          name: x-access-token
          required: true
          in: header
        - name: body
          in: body
          required: false
          schema:
            type: object
            required:
              - name
            properties:
              name:
                type: string
                description: New name of the manufacturer
      responses:
        200:
          description: Single Manufacturer
          schema:
            $ref: '#/definitions/Manufacturer'
        404:
          description: not found
    delete:
      summary: Delete
      description: ''
      tags:
        - Manufacturers
      parameters:
        - type: integer
          name: id
          required: true
          in: path
        - type: string
          default: 'YOUR ACCESS TOKEN'
          name: x-access-token
          required: true
          in: header
      responses:
        200:
          description: empty response
        404:
          description: not found
  /manufacturers/{id}/models:
    get:
      summary: Models
      description: All models associated with the given manufacturer
      tags:
        - Manufacturers
      parameters:
        - type: integer
          name: id
          required: true
          in: path
        - type: string
          default: 'YOUR ACCESS TOKEN'
          name: x-access-token
          required: true
          in: header
      responses:
        200:
          description: All models from manufacturer
          schema:
            type: array
            items:
              $ref: '#/definitions/Model'
        404:
          description: not found
  /models:
    get:
      summary: Index
      description: ''
      tags:
        - Models
      parameters:
        - type: string
          default: 'YOUR ACCESS TOKEN'
          name: x-access-token
          required: true
          in: header
      responses:
        200:
          description: All Models
          schema:
            type: array
            items:
              $ref: '#/definitions/Model'
    post:
      summary: Create
      description: >-
        `mainImageID` is optional
      tags:
        - Models
      consumes:
        - application/json
      parameters:
        - name: body
          in: body
          required: false
          schema:
            type: object
            required:
              - name
              - manufacturerID
              - transmissionType
              - axleType
            properties:
              name:
                type: string
                description: Name of the new model
              manufacturerID:
                type: integer
              transmissionType:
                type: integer
              axleType:
                type: integer
      responses:
        200:
          description: Single Model
          schema:
            $ref: '#/definitions/Model'
  /models/{id}:
    get:
      summary: Get
      description: ''
      tags:
        - Models
      parameters:
        - type: integer
          name: id
          required: true
          in: path
        - type: string
          default: 'YOUR ACCESS TOKEN'
          name: x-access-token
          required: true
          in: header
      responses:
        200:
          description: Single Model
          schema:
            $ref: '#/definitions/Model'
        404:
          description: not found
    patch:
      summary: Patch
      description: ''
      tags:
        - Models
      consumes:
        - application/json
      parameters:
        - type: integer
          name: id
          required: true
          in: path
        - type: string
          default: 'YOUR ACCESS TOKEN'
          name: x-access-token
          required: true
          in: header
        - name: body
          in: body
          required: false
          schema:
            type: object
            required:
              - name
              - manufacturerID
              - transmissionType
              - axleType
            properties:
              name:
                type: string
                description: Name of the new model
              manufacturerID:
                type: integer
              transmissionType:
                type: integer
              axleType:
                type: integer
              mainImageID:
                type: integer
      responses:
        200:
          description: Single Model
          schema:
            $ref: '#/definitions/Model'
        404:
          description: not found
    delete:
      summary: Delete
      description: ''
      tags:
        - Models
      parameters:
        - type: integer
          name: id
          required: true
          in: path
      responses:
        200:
          description: empty response
        404:
          description: not found
  /models/{id}/images:
    get:
      summary: Images
      description: All images associated with the given model
      tags:
        - Models
      parameters:
        - type: integer
          name: id
          required: true
          in: path
        - type: string
          default: 'YOUR ACCESS TOKEN'
          name: x-access-token
          required: true
          in: header
      responses:
        200:
          description: Images of model
          schema:
            type: array
            items:
              $ref: '#/definitions/Image'
        404:
          description: not found
  /models/{id}/stages:
    get:
      summary: Stages
      description: All stages associated with the given model
      tags:
        - Models
      parameters:
        - type: integer
          name: id
          required: true
          in: path
        - type: string
          default: 'YOUR ACCESS TOKEN'
          name: x-access-token
          required: true
          in: header
      responses:
        200:
          description: Stages of model
          schema:
            type: array
            items:
              $ref: '#/definitions/Stage'
        404:
          description: not found
  /images:
    get:
      summary: Index
      description: ''
      tags:
        - Images
      parameters:
        - type: string
          default: 'YOUR ACCESS TOKEN'
          name: x-access-token
          required: true
          in: header
      responses:
        200:
          description: All Images
          schema:
            type: array
            items:
              $ref: '#/definitions/Image'
    post:
      summary: Create
      description: ''
      tags:
        - Images
      consumes:
        - application/json
      parameters:
        - type: string
          default: 'YOUR ACCESS TOKEN'
          name: x-access-token
          required: true
          in: header
        - name: body
          in: body
          required: false
          schema:
            type: object
            required:
              - copyrightInformation
              - carModelID
            properties:
              copyrightInformation:
                type: string
              carModelID:
                type: integer
      responses:
        200:
          description: Single Image
          schema:
            $ref: '#/definitions/Image'
  /images/{id}:
    get:
      summary: Get
      description: ''
      tags:
        - Images
      parameters:
        - type: integer
          name: id
          required: true
          in: path
        - type: string
          default: 'YOUR ACCESS TOKEN'
          name: x-access-token
          required: true
          in: header
      responses:
        200:
          description: Single Image
          schema:
            $ref: '#/definitions/Image'
        404:
          description: Not found
    patch:
      summary: Patch
      description: ''
      tags:
        - Images
      consumes:
        - application/json
      parameters:
        - type: integer
          name: id
          required: true
          in: path
        - type: string
          default: 'YOUR ACCESS TOKEN'
          name: x-access-token
          required: true
          in: header
        - name: body
          in: body
          required: false
          schema:
            type: object
            required:
              - copyrightInformation
              - carModelID
            properties:
              copyrightInformation:
                type: string
              carModelID:
                type: integer
      responses:
        200:
          description: Single Image
          schema:
            $ref: '#/definitions/Image'
        404:
          description: Not found
    delete:
      summary: Delete
      description: ''
      tags:
        - Images
      parameters:
        - type: integer
          name: id
          required: true
          in: path
        - type: string
          default: 'YOUR ACCESS TOKEN'
          name: x-access-token
          required: true
          in: header
      responses:
        200:
          description: empty response
        404:
          description: not found
  /images/{id}/upload:
    post:
      summary: Upload (DOCS TODO)
      description: |-
        Multipart File Upload for given Image
        Name for file part: image must be kind of image/jpg
      tags:
        - Images
      consumes:
        - multipart/form-data
      parameters:
        - type: integer
          name: id
          required: true
          in: path
        - type: string
          default: 'YOUR ACCESS TOKEN'
          name: x-access-token
          required: true
          in: header
        - type: string
          default: ''
          name: image
          required: false
          in: formData
      responses:
        default:
          description: no response description was provided for this operation
  /images/{id}/file:
    get:
      summary: File (DOCS TODO)
      description: >-
        Returns File Content for the given Image or 404 when no File was
        uploaded
      tags:
        - Images
      consumes:
        - multipart/form-data
      parameters:
        - type: integer
          name: id
          required: true
          in: path
        - type: string
          default: 'YOUR ACCESS TOKEN'
          name: x-access-token
          required: true
          in: header
      responses:
        default:
          description: no response description was provided for this operation
  /stages:
    get:
      summary: Index
      description: ''
      tags:
        - Stages
      parameters:
        - type: string
          default: 'YOUR ACCESS TOKEN'
          name: x-access-token
          required: true
          in: header
      responses:
        200:
          description: All Stages
          schema:
            type: array
            items:
              $ref: '#/definitions/Stage'
    post:
      summary: Create
      description: ''
      tags:
        - Stages
      consumes:
        - application/json
      parameters:
        - type: string
          default: 'YOUR ACCESS TOKEN'
          name: x-access-token
          required: true
          in: header
        - name: body
          in: body
          required: false
          schema:
            type: object
            required:
              - name
              - isStock
              - carModelID
            properties:
              name:
                type: string
                description: Name of the new stage
              isStock:
                type: boolean
              carModelID:
                type: integer
      responses:
        200:
          description: Single Stage
          schema:
            $ref: '#/definitions/Stage'
  /stages/{id}:
    get:
      summary: Get
      description: ''
      tags:
        - Stages
      parameters:
        - type: integer
          name: id
          required: true
          in: path
        - type: string
          default: 'YOUR ACCESS TOKEN'
          name: x-access-token
          required: true
          in: header
      responses:
        200:
          description: Single Stage
          schema:
            $ref: '#/definitions/Stage'
        404:
          description: Not found
    patch:
      summary: Patch
      description: ''
      tags:
        - Stages
      consumes:
        - application/json
      parameters:
        - type: integer
          name: id
          required: true
          in: path
        - type: string
          default: 'YOUR ACCESS TOKEN'
          name: x-access-token
          required: true
          in: header
        - required: false
          schema:
            type: string
            default: |-
              {
                "ps": 663.52,
                "description": "",
                "nm": 494.25,
                "carModelID": 9,
                "isStock": false,
                "name": "Kompressor",
                "lasiseInSeconds": 53.8
              }
          in: body
          name: body
      responses:
        200:
          description: Single Stage
          schema:
            $ref: '#/definitions/Stage'
        404:
          description: Not found
    delete:
      summary: Delete
      description: ''
      tags:
        - Stages
      parameters:
        - type: integer
          name: id
          required: true
          in: path
      responses:
        200:
          description: empty response
        404:
          description: not found
  /stages/{id}/timings:
    get:
      summary: Timings
      description: All timings associated with the given model
      tags:
        - Stages
      consumes:
        - application/json
      parameters:
        - type: integer
          name: id
          required: true
          in: path
        - type: string
          default: 'YOUR ACCESS TOKEN'
          name: x-access-token
          required: true
          in: header
      responses:
        200:
          description: All Timings from Stage
          schema:
            type: array
            items:
              $ref: '#/definitions/Timing'
        404:
          description: Not Found
  /stages/{id}/videos:
    get:
      summary: Videos
      description: All videos associated with the given model
      tags:
        - Stages
      parameters:
        - type: integer
          name: id
          required: true
          in: path
        - type: string
          default: 'YOUR ACCESS TOKEN'
          name: x-access-token
          required: true
          in: header
      responses:
        200:
          description: All Videos from Stage
          schema:
            type: array
            items:
              $ref: '#/definitions/Image'
        404:
          description: Not Found
  /stages/{stageID}/videos/{videoID}:
    post:
      summary: Add Relation (DOCS TODO)
      description: All videos associated with the given model
      tags:
        - Stages
      parameters:
        - type: integer
          name: stageID
          required: true
          in: path
        - type: integer
          name: videoID
          required: true
          in: path
        - type: string
          default: 'YOUR ACCESS TOKEN'
          name: x-access-token
          required: true
          in: header
        - required: false
          schema:
            type: string
            default: ''
          in: body
          name: body
      responses:
        default:
          description: no response description was provided for this operation
    delete:
      summary: Remove Relation
      description: All videos associated with the given model
      tags:
        - Stages
      parameters:
        - type: integer
          name: stageID
          required: true
          in: path
        - type: integer
          name: videoID
          required: true
          in: path
      responses:
        200:
          description: empty response
        404:
          description: not found
  /stagesVideosRelations:
    get:
      summary: All Video Relations (DOCS TODO)
      description: All videos associated with the given model
      tags:
        - Stages - Videos
      parameters:
        - type: string
          default: 'YOUR ACCESS TOKEN'
          name: x-access-token
          required: true
          in: header
      responses:
        default:
          description: no response description was provided for this operation
  /timings:
    get:
      summary: Index
      description: ''
      tags:
        - Timings
      parameters:
        - type: string
          default: 'YOUR ACCESS TOKEN'
          name: x-access-token
          required: true
          in: header
      responses:
        200:
          description: All Timings
          schema:
            type: array
            items:
              $ref: '#/definitions/Timing'
    post:
      summary: Create
      description: |-
        Seconds are not normalized.
        There are `second1`, `second2` and `second3` which are Double values
      tags:
        - Timings
      consumes:
        - application/json
      parameters:
        - type: string
          default: 'YOUR ACCESS TOKEN'
          name: x-access-token
          required: true
          in: header
        - name: body
          in: body
          required: false
          schema:
            type: object
            required:
              - range
              - stageID
              - second1
            properties:
              range: 
                type: string
              stageID:
                type: integer
              second1:
                type: number
              second2:
                type: number
              second3:
                type: number
      responses:
        200:
          description: Single Timing
          schema:
            $ref: '#/definitions/Timing'
  /timings/{id}:
    get:
      summary: Get
      description: ''
      tags:
        - Timings
      parameters: 
        - type: integer
          name: id
          required: true
          in: path
      responses:
        200:
          description: Single Timing
          schema:
            $ref: '#/definitions/Timing'
        404:
          description: Not found
    patch:
      summary: Patch
      description: ''
      tags:
        - Timings
      consumes:
        - application/json
      parameters:
        - type: integer
          name: id
          required: true
          in: path
        - required: false
          schema:
            type: string
            default: '{"range":"100-200","stageID":12,"second1":16}'
          in: body
          name: body
      responses:
        200:
          description: Single Timing
          schema:
            $ref: '#/definitions/Timing'
        404:
          description: Not found
    delete:
      summary: Delete
      description: ''
      tags:
        - Timings
      parameters:
        - type: integer
          name: id
          required: true
          in: path
      responses:
        200:
          description: empty response
        404:
          description: not found
  /videos:
    get:
      summary: Index
      description: ''
      tags:
        - Videos
      parameters:
        - type: string
          default: 'YOUR ACCESS TOKEN'
          name: x-access-token
          required: true
          in: header
      responses:
        200:
          description: All Videos
          schema:
            type: array
            items:
              $ref: '#/definitions/Video'
  /videos/{id}:
    get:
      summary: Get
      description: ''
      tags:
        - Videos
      parameters:
        - type: integer
          name: id
          required: true
          in: path
        - type: string
          default: 'YOUR ACCESS TOKEN'
          name: x-access-token
          required: true
          in: header
      responses:
        200:
          description: Single Video
          schema:
            $ref: '#/definitions/Video'
        404:
          description: Not found
  /videos/byVideoID/{videoID}:
    get:
      summary: By Video ID
      description: ''
      tags:
        - Videos
      parameters:
        - type: string
          name: videoID
          default: 0b4qK92EIWc
          required: true
          in: path
      responses:
        200:
          description: Single Video
          schema:
            $ref: '#/definitions/Video'
        404:
          description: Not found
  /videos/{id}/stages:
    get:
      summary: Stages
      description: ''
      tags:
        - Videos
      parameters:
        - type: integer
          name: id
          required: true
          in: path
      responses:
        200:
          description: All Stages from Video
          schema:
            type: array
            items:
              $ref: '#/definitions/Stage'
        404:
          description: Not Found
  /videos/{id}/series:
    get:
      summary: Series
      description: ''
      tags:
        - Videos
      parameters:
        - type: integer
          name: id
          required: true
          in: path
        - type: string
          default: 'YOUR ACCESS TOKEN'
          name: x-access-token
          required: true
          in: header
      responses:
        200:
          description: All Series from Video
          schema:
            type: array
            items:
              $ref: '#/definitions/VideoSeries'
        404:
          description: Not Found
  /videoSeries:
    get:
      summary: Index
      description: ''
      tags:
        - Video Series
      parameters:
        - type: string
          default: 'YOUR ACCESS TOKEN'
          name: x-access-token
          required: true
          in: header
      responses:
        200:
          description: All Video Series
          schema:
            type: array
            items:
              $ref: '#/definitions/VideoSeries'
    post:
      summary: Create
      description: ''
      tags:
        - Video Series
      consumes:
        - application/json
      parameters:
        - type: string
          default: 'YOUR ACCESS TOKEN'
          name: x-access-token
          required: true
          in: header
        - name: body
          in: body
          required: false
          schema:
            type: object
            required:
              - title
              - description
              - isPublic
            properties:
              title:
                type: string
                description: Title of the new video series
              description:
                type: string
              isPublic:
                type: boolean
      responses:
        200:
          description: Single Video Series
          schema:
            $ref: '#/definitions/VideoSeries'
  /videoSeries/{id}:
    get:
      summary: Get
      description: ''
      tags:
        - Video Series
      parameters:
        - type: integer
          name: id
          required: true
          in: path
        - type: string
          default: 'YOUR ACCESS TOKEN'
          name: x-access-token
          required: true
          in: header
      responses:
        200:
          description: Single Video Series
          schema:
            $ref: '#/definitions/VideoSeries'
        404:
          description: Not found
    patch:
      summary: Patch
      description: ''
      tags:
        - Video Series
      consumes:
        - application/json
      parameters:
        - type: integer
          name: id
          required: true
          in: path
        - type: string
          default: 'YOUR ACCESS TOKEN'
          name: x-access-token
          required: true
          in: header
        - required: false
          schema:
            type: string
            default: '{"title":"Lexus LC500","description":"","isPublic":true}'
          in: body
          name: body
      responses:
        200:
          description: Single Video Series
          schema:
            $ref: '#/definitions/VideoSeries'
        404:
          description: Not found
    delete:
      summary: Delete
      description: ''
      tags:
        - Video Series
      parameters:
        - type: integer
          name: id
          required: true
          in: path
        - type: string
          default: 'YOUR ACCESS TOKEN'
          name: x-access-token
          required: true
          in: header
      responses:
        200:
          description: empty response
        404:
          description: not found
  /videoSeries/{id}/videos:
    get:
      summary: Videos
      description: All videos associated with the given model
      tags:
        - Video Series
      parameters:
        - type: integer
          name: id
          required: true
          in: path
        - type: string
          default: 'YOUR ACCESS TOKEN'
          name: x-access-token
          required: true
          in: header
      responses:
        200:
          description: All Videos from Video Series
          schema:
            type: array
            items:
              $ref: '#/definitions/Video'
  /videoSeries/{videoSeriesID}/videos/{videoID}:
    post:
      summary: Add Relation (DOCS TODO)
      description: All videos associated with the given model
      tags:
        - Video Series
      parameters:
        - type: integer
          name: videoSeriesID
          required: true
          in: path
        - type: integer
          name: videoID
          required: true
          in: path
        - type: string
          default: 'YOUR ACCESS TOKEN'
          name: x-access-token
          required: true
          in: header
        - required: false
          schema:
            type: string
            default: ''
          in: body
          name: body
      responses:
        default:
          description: no response description was provided for this operation
    delete:
      summary: Remove Relation
      description: All videos associated with the given model
      tags:
        - Video Series
      parameters:
        - type: integer
          name: videoSeriesID
          required: true
          in: path
        - type: integer
          name: videoID
          required: true
          in: path
        - type: string
          default: 'YOUR ACCESS TOKEN'
          name: x-access-token
          required: true
          in: header
      responses:
        200:
          description: empty response
        404:
          description: not found
    patch:
      summary: Patch Relation (DOCS TODO)
      description: All videos associated with the given model
      tags:
        - Video Series
      consumes:
        - application/json
      parameters:
        - type: integer
          name: videoSeriesID
          required: true
          in: path
        - type: integer
          name: videoID
          required: true
          in: path
        - type: string
          default: 'YOUR ACCESS TOKEN'
          name: x-access-token
          required: true
          in: header
        - required: false
          schema:
            type: string
            default: '{"description":"Zweites Videos zum ..."}'
          in: body
          name: body
      responses:
        default:
          description: no response description was provided for this operation
  /videoSeriesVideosRelations:
    get:
      summary: All Video Relations (DOCS TODO)
      description: All videos associated with the given model
      tags:
        - Video Series - Videos
      parameters:
        - type: string
          default: 'YOUR ACCESS TOKEN'
          name: x-access-token
          required: true
          in: header
      responses:
        default:
          description: no response description was provided for this operation
  /devices:
    get:
      summary: Index
      description: >-
        platform:
        - iOS: 0
        - Android: 1

        isTestDevice: when set to true, the notifications will be sent via to
        the sandbox servers. Only iPhones built via Xcode receive those
        notifications. Default is false and can only be updated authenticate via
        setTestDevice
      tags:
        - Devices
      parameters:
        - type: string
          default: 'YOUR ACCESS TOKEN'
          name: x-access-token
          required: true
          in: header
      responses:
        200:
          description: All Devices
          schema:
            type: array
            items:
              $ref: '#/definitions/Device'
    post:
      summary: Create
      description: |-
        platform:
        - iOS: 0
        - Android: 1
      tags:
        - Devices
      consumes:
        - application/json
      parameters:
        - type: string
          default: 'YOUR ACCESS TOKEN'
          name: x-access-token
          required: true
          in: header
        - name: body
          in: body
          required: false
          schema:
            type: object
            required:
              - platform
              - pushToken
              - languageCode
            properties:
              platform:
                type: integer
              pushToken:
                type: string
              languageCode:
                type: string
      responses:
        200:
          description: Single Device
          schema:
            $ref: '#/definitions/Device'
  /devices/{pushToken}:
    get:
      summary: Get
      description: >-
        Parameter is the `pushToken` instead of the incrementing id. Because
        only the device itself knows its push tokens.
      tags:
        - Devices
      parameters:
        - type: string
          name: pushToken
          required: true
          in: path
        - type: string
          default: 'YOUR ACCESS TOKEN'
          name: x-access-token
          required: true
          in: header
      responses:
        200:
          description: Single Device
          schema:
            $ref: '#/definitions/Device'
        404:
          description: Not found
    patch:
      summary: Patch
      description: >-
        Parameter is the `pushToken` instead of the incrementing id. Because
        only the device itself knows its push tokens.

        platform:
        - iOS: 0
        - Android: 1
      tags:
        - Devices
      consumes:
        - application/json
      parameters:
        - type: string
          name: pushToken
          required: true
          in: path
        - type: string
          default: 'YOUR ACCESS TOKEN'
          name: x-access-token
          required: true
          in: header
        - required: false
          schema:
            type: string
            default: >-
              {"platform":0,"pushToken":"70c36796093b37a7f7d7b716833c3374c9866d67ac19a24e6c1ee4317fb403eb","languageCode":"en"}
          in: body
          name: body
      responses:
        200:
          description: Single Device
          schema:
            $ref: '#/definitions/Device'
        404:
          description: Not found
    delete:
      summary: Delete
      description: >-
        Parameter is the `pushToken` instead of the incrementing id. Because
        only the device itself knows its push tokens.
      tags:
        - Devices
      parameters:
        - type: string
          name: pushToken
          required: true
          in: path
        - type: string
          default: 'YOUR ACCESS TOKEN'
          name: x-access-token
          required: true
          in: header
      responses:
        200:
          description: empty response
        404:
          description: not found
  /devices/{pushToken}/setTestDevice:
    post:
      summary: Set Test Device (DOCS TODO)
      description: ''
      tags:
        - Devices
      consumes:
        - application/json
      parameters:
        - type: string
          name: pushToken
          required: true
          in: path
        - type: string
          default: 'YOUR ACCESS TOKEN'
          name: x-access-token
          required: true
          in: header
        - required: false
          schema:
            type: string
            default: '{"bool":true}'
          in: body
          name: body
      responses:
        default:
          description: no response description was provided for this operation
  /devices/{pushToken}/ping:
    post:
      summary: Ping (DOCS TODO)
      description: >-
        Should be sent on app start when the device is already registered for
        push notifications so the backend can determine which devices are active
      tags:
        - Devices
      parameters:
        - type: string
          name: pushToken
          required: true
          in: path
        - type: string
          default: 'YOUR ACCESS TOKEN'
          name: x-access-token
          required: true
          in: header
      responses:
        default:
          description: no response description was provided for this operation
  /devices/{pushToken}/notificationPreferences:
    get:
      summary: Notification Preferences (DOCS TODO)
      description: >-
        Indicates what types of notifiations the user want to receive

        entityType:
        - Video
        - Manufacturer (not implemented yet)
        - Model (not implemented yet)
        - Stage (not implemented yet)
        - Timing (not implemented yet)
        - Image (not implemented yet)

        entityID:
        - optional
        - when null: the user receives notifications for changes on all entities
        - when set to an id: the user receives notifications only for changes on
        the specific id
      tags:
        - Devices
      parameters:
        - type: string
          name: pushToken
          required: true
          in: path
        - type: string
          default: 'YOUR ACCESS TOKEN'
          name: x-access-token
          required: true
          in: header
      responses:
        default:
          description: no response description was provided for this operation
    post:
      summary: Create (DOCS TODO)
      description: ''
      tags:
        - Devices
      consumes:
        - application/json
      parameters:
        - type: string
          name: pushToken
          required: true
          in: path
        - type: string
          default: 'YOUR ACCESS TOKEN'
          name: x-access-token
          required: true
          in: header
        - required: false
          schema:
            type: string
            default: '{"entityType":"CarModel"}'
          in: body
          name: body
      responses:
        default:
          description: no response description was provided for this operation
  /devices/{pushToken}/notificationPreferences/{id}:
    delete:
      summary: Delete
      description: ''
      tags:
        - Devices
      parameters:
        - type: string
          name: pushToken
          required: true
          in: path
        - type: integer
          name: id
          required: true
          in: path
        - type: string
          default: 'YOUR ACCESS TOKEN'
          name: x-access-token
          required: true
          in: header
      responses:
        200:
          description: empty response
        404:
          description: not found
  /notifications/devicesForEntityPair:
    get:
      summary: Devices for Entity Pair (DOCS TODO)
      description: >-
        Returns list of devices which will receive notifications for given
        entity pair
      tags:
        - Notifications
      parameters:
        - type: string
          default: 'YOUR ACCESS TOKEN'
          name: x-access-token
          required: true
          in: header
        - type: string
          default: CarModel
          name: entityType
          required: false
          in: query
        - type: string
          default: '53'
          name: entityID
          required: false
          in: query
      responses:
        default:
          description: no response description was provided for this operation
  /notifications/sendNotificationForEntityPair:
    post:
      summary: Send Notifications for Entity Pair (DOCS TODO)
      description: >-
        Sends notification to devices which want to receive notifications for
        given entity pair
      tags:
        - Notifications
      consumes:
        - application/json
      parameters:
        - type: string
          default: 'YOUR ACCESS TOKEN'
          name: x-access-token
          required: true
          in: header
        - required: false
          schema:
            type: string
            default: '{"entityType":"Video","entityID":"1579"}'
          in: body
          name: body
      responses:
        default:
          description: no response description was provided for this operation
  /notifications/track/{id}:
    post:
      summary: Track Notification (DOCS TODO)
      description: >-
        Tracks the opening of a notification on the device

        The Identifier (Parameter) must be fetched from the custom data inside
        the notification
      tags:
        - Notifications
      responses:
        default:
          description: no response description was provided for this operation
      parameters:
        - type: string
          name: id
          required: true
          in: path
  /access:
    get:
      summary: Index
      description: ''
      tags:
        - Access
      parameters:
        - type: string
          default: 'YOUR ACCESS TOKEN'
          name: x-access-token
          required: true
          in: header
      responses:
        200:
          description: All Access Tokens
          schema:
            type: array
            items:
              $ref: '#/definitions/Access'
    post:
      summary: Create
      description: ''
      tags:
        - Access
      consumes:
        - application/json
      parameters:
        - type: string
          default: 'YOUR ACCESS TOKEN'
          name: x-access-token
          required: true
          in: header
        - name: body
          in: body
          required: false
          schema:
            type: object
            required:
              - name
            properties:
              name:
                type: string
                description: Name of the new access token
      responses:
        200:
          description: Single Access Token
          schema:
            $ref: '#/definitions/Access'
  /access/{id}:
    get:
      summary: Get
      description: ''
      tags:
        - Access
      parameters:
        - type: integer
          name: id
          required: true
          in: path
        - type: string
          default: 'YOUR ACCESS TOKEN'
          name: x-access-token
          required: true
          in: header
      responses:
        200:
          description: Single Access Token
          schema:
            $ref: '#/definitions/Access'
        404:
          description: Not found
    patch:
      summary: Patch
      description: ''
      tags:
        - Access
      consumes:
        - application/json
      parameters:
        - type: integer
          name: id
          required: true
          in: path
        - type: string
          default: 'YOUR ACCESS TOKEN'
          name: x-access-token
          required: true
          in: header
        - required: false
          schema:
            type: string
            default: '{"name":"Test Chrostoph"}'
          in: body
          name: body
      responses:
        200:
          description: Single Access Token
          schema:
            $ref: '#/definitions/Access'
        404:
          description: Not found
    delete:
      summary: Delete
      description: ''
      tags:
        - Access
      parameters:
        - type: integer
          name: id
          required: true
          in: path
        - type: string
          default: 'YOUR ACCESS TOKEN'
          name: x-access-token
          required: true
          in: header
      responses:
        200:
          description: empty response
        404:
          description: not found
tags:
  - name: Auth
  - name: Manufacturers
  - name: Models
  - name: Images
  - name: Stages
  - name: Stages - Videos
  - name: Timings
  - name: Videos
  - name: Video Series
  - name: Video Series - Videos
  - name: Devices
  - name: Notifications
  - name: Access
definitions:
  ErrorModel:
    type: object
    properties:
      error:
        type: boolean
      reason:
        type: string
  Manufacturer:
    type: object
    properties:
      id:
        type: integer
      name:
        type: string
      createdAt:
        type: string
  Model:
    type: object
    properties:
      id:
        type: integer
      manufacturerID:
        type: integer
      createdAt:
        type: string
      updatedAt:
        type: string
      axleType:
        type: integer
        description: >-
          - all: 0
          - front: 1
          - rear: 2
      mainImageID:
        type: integer
      transmissionType:
        type: integer
        description: >-
          - manual: 0
          - automatic: 1
  Stage:
    type: object
    properties:
      id:
        type: integer
      name:
        type: string
      createdAt:
        type: string
      updatedAt:
        type: string
      description:
        type: string
      carModelID:
        type: integer
      isStock:
        type: boolean
  Timing:
    type: object
    properties:
      id:
        type: integer
      createdAt:
        type: string
      updatedAt:
        type: string
      range:
        type: string
      stageID:
        type: integer
      second1:
        type: number
      second2:
        type: number
      second3:
        type: number
  Image:
    type: object
    properties:
      id:
        type: integer
      carModelID:
        type: integer
      copyrightInformation:
        type: string
      hasUpload:
        type: boolean
      createdAt:
        type: string
      updatedAt:
        type: string
  Video:
    type: object
    properties:
      id:
        type: integer
      createdAt:
        type: string
      updatedAt:
        type: string
      publishedAt:
        type: string
      title:
        type: string
      description:
        type: string
      thumbnailURL:
        type: string
      videoID:
        type: string
  VideoSeries:
    type: object
    properties:
      id:
        type: integer
      createdAt:
        type: string
      updatedAt:
        type: string
      title:
        type: string
      isPublic:
        type: boolean
      description:
        type: string
  Device:
    type: object
    properties:
      id:
        type: integer
      createdAt:
        type: string
      updatedAt:
        type: string
      externalID:
        type: string
      pushToken:
        type: string
      isTestDevice:
        type: boolean
      platform:
        type: integer
      languageCode:
        type: string
  Access:
    type: object
    properties:
      id:
        type: integer
      name:
        type: string
      token:
        type: string
      createdAt:
        type: string
      updatedAt:
        type: string
